<head>
   <title>AdminPanel - gmodshop</title>
   <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://kit.fontawesome.com/5d888f9695.js" crossorigin="anonymous"></script>
   <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
   <link href="https://cdn.gmodshop.ru/admin.css" rel='stylesheet'>
</head>
<% if (admin == 'rank rank-moderator' || admin == 'rank rank-owner') {%>
<main>
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   <!DOCTYPE html>
   <html lang="en">
      <head>
         <meta charset="utf-8">
         <meta http-equiv="X-UA-Compatible" content="IE=edge">
         <meta name="viewport" content="width=device-width, initial-scale=1">
         <meta name="description" content="Responsive sidebar template with sliding effect and dropdown menu based on bootstrap 3">
         <title>Sidebar template</title>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous">
         <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
         <style type="text/css">
            .panel-table .panel-body{
            padding:0;
            }
            .panel-table .panel-body .table-bordered{
            border-style: none;
            margin:0;
            }
            .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
            text-align:center;
            width: 100px;
            }
            .panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
            .panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
            border-right: 0px;
            }
            .panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
            .panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
            border-left: 0px;
            }
            .panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
            border-bottom: 0px;
            }
            .panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
            border-top: 0px;
            }
            .panel-table .panel-footer .pagination{
            margin:0; 
            }
            /*
            used to vertically center elements, may need modification if you're not using default sizes.
            */
            .panel-table .panel-footer .col{
            line-height: 34px;
            height: 34px;
            }
            .panel-table .panel-heading .col h3{
            line-height: 30px;
            height: 30px;
            }
            .panel-table .panel-body .table-bordered > tbody > tr > td{
            line-height: 34px;
            }
         </style>
      </head>
      <body>
         <div class="page-wrapper chiller-theme toggled">
            <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
            </a>
            <nav id="sidebar" class="sidebar-wrapper">
               <div class="sidebar-content">
                  <div class="sidebar-brand">
                     <a href="/">GmodShop</a>
                     <div id="close-sidebar">
                        <i class="fas fa-times"></i>
                     </div>
                  </div>
                  <!-- sidebar-search  -->
                  <div class="sidebar-menu">
                     <ul>
                        <li class="header-menu">
                           <span>Главная</span>
                        </li>
                        <li class="sidebar-dropdown">
                           <a href="#">
                              <i class="fa fa-tachometer-alt"></i>
                              <span>Панель</span>
                              <!-- <span class="badge badge-pill badge-warning">New</span> -->
                           </a>
                           <div class="sidebar-submenu">
                              <ul>
                                 <li>
                                    <a href="/admin">Главная
                                    <span class="badge badge-pill badge-success">Pro</span>
                                    </a>
                                 </li>
                                 <!--                 <li>
                                    <a href="#">Dashboard 2</a>
                                    </li>
                                    <li>
                                    <a href="#">Dashboard 3</a>
                                    </li> -->
                              </ul>
                           </div>
                        </li>
                        <li class="sidebar-dropdown">
                           <a href="#">
                           <i class="fa fa-shopping-cart"></i>
                           <span>Магазин аддонов</span>
                           </a>
                           <div class="sidebar-submenu">
                              <ul>
                                 <li>
                                    <a href="/admin/products">Утверждение аддонов
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="sidebar-dropdown">
                           <a href="#">
                           <i class="fa fa-ticket"></i>
                           <span>Поддержка</span>
                           <% if (TCount != 0) {%>
                           <span class="badge badge-pill badge-danger"><%= TCount %></span>
                           <% } %>
                           </a>
                           <div class="sidebar-submenu">
                              <ul>
                                 <li>
                                    <a href="/admin/tickets">Тикеты
                                    <% if (TCount != 0) {%>
                                    <span class="badge badge-pill badge-danger"><%= TCount %></span>
                                    <% } %>
                                    </a>
                                 </li>
                              </ul>
                           </div>
                        </li>
                        <li class="header-menu">
                           <span>Extra</span>
                        </li>
                        <li>
                           <a href="#">
                           <i class="fa fa-book"></i>
                           <span>Documentation</span>
                           <span class="badge badge-pill badge-primary">Beta</span>
                           </a>
                        </li>
                     </ul>
                  </div>
                  <!-- sidebar-menu  -->
               </div>
               <!-- sidebar-content  -->
            </nav>
            <!-- sidebar-wrapper  -->
            <main class="page-content">
               <div class="container-fluid">
                  <h2>Центр технической поддержки</h2>
                  <hr>
                  <div class="container">
                     <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                           <div class="panel panel-default panel-table">
                              <div class="panel-heading">
                                 <div class="row">
                                    <div class="col col-xs-6">
                                       <h3 class="panel-title">Список активных созданных билетов</h3>
                                    </div>
                                 </div>
                              </div>
                              <div class="panel-body">
                                 <table class="table table-striped table-bordered table-list">
                                    <thead>
                                       <tr>
                                          <th><em class="fa fa-cog"></em></th>
                                          <th class="hidden-xs">Тип</th>
                                          <th>Пользователь</th>
                                          <th>Название</th>
                                       </tr>
                                    </thead>
                                    <tbody>
                                       <% Tickets.forEach(ticket => { 
                                          if (ticket.status != 'wait' && ticket.status != 'response') return %>
                                       <tr>
                                          <td align="center">
                                             <a href='/admin/tickets/view/<%=ticket.id%>' class="btn btn-primary"><em class="fa fa-pencil"></em></a>
                                          </td>
                                          <% if (ticket.type == 1) { %>
                                          <td>Жалоба на аддон</td>
                                          <% } else if (ticket.type == 2) { %>
                                          <td>Поддержка</td>
                                          <% } else if (ticket.type == 3) { %>
                                          <td>Веб-сайт</td>
                                          <% } else if (ticket.type == 4) { %>
                                          <td>Вывод</td>
                                          <% } else if (ticket.type == 5) { %>
                                          <td>Другое</td>
                                          <% } %>
                                          <td><a href="/u/<%=ticket.owner%>" target="_blank"><%= ticket.owner %></td>
                                          </a>
                                          <td><%= ticket.title %></td>
                                       </tr>
                                    </tbody>
                                    <% }) %>
                                 </table>
                              </div>
                              <script src="/sitejs"></script>
                           </div>
                        </div>
                     </div>
                  </div>
            </main>
            </div>
</main>
<!-- page-content" -->
</div>
<!-- page-wrapper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
   crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
   crossorigin="anonymous"></script>
</body>
</html>
<script>
   jQuery(function ($) {
   
     $(".sidebar-dropdown > a").click(function() {
   $(".sidebar-submenu").slideUp(200);
   if (
     $(this)
       .parent()
       .hasClass("active")
   ) {
     $(".sidebar-dropdown").removeClass("active");
     $(this)
       .parent()
       .removeClass("active");
   } else {
     $(".sidebar-dropdown").removeClass("active");
     $(this)
       .next(".sidebar-submenu")
       .slideDown(200);
     $(this)
       .parent()
       .addClass("active");
   }
   });
   
   $("#close-sidebar").click(function() {
   $(".page-wrapper").removeClass("toggled");
   });
   $("#show-sidebar").click(function() {
   $(".page-wrapper").addClass("toggled");
   });
    
   });
</script>
</main>
<% } else { %>
<body>
   <div class="">
      <div class="sect-compact">
         <div class="d-flex not-found-inner justify-content-center">
            <p class="white--text display-1 text--bold">Что ты тут делаешь?</p>
         </div>
         <img class="rounded mx-auto d-block fixed-bottom" src="https://i.imgur.com/U2SY6vp.png">
      </div>
   </div>
</body>
<% } %>