<%- include("partials/header", { user, title: "Home" }) %>
<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Payments - gmodshop</title>
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-112520490-5"></script>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
      <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
      <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
      <link href="https://cdn.gmodshop.ru/gmod.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
   </head>
   <body>
      <div class="container">
         <div id="openModal" class="modalgay">
            <div class="modalgay-dialog">
               <div class="modalgay-content">
                  <div class="modalgay-header">
                     <h3 class="modalgay-title">Вывод средств</h3>
                     <a href="#close" title="Close" class="close">×</a>
                  </div>
                  <form method="post">
                  <div class="modal-body">
                     <div class="input-item input-with-label">
                        <label for="swalllet" class="input-item-label">Выберите систему</label>
                        <select name="ptype" id="ptype" class="form-control" required tabindex="-1" aria-hidden="true">
                           <optgroup label="Платежные системы">
                              <option value="qiwi">Qiwi</option>
                              <!-- <option value="ymoney">Ю.Money</option> -->
                              <!-- <option value="visa">Visa</option> -->
                           </optgroup>
                        </select>
                     </div>
                     <label for="rekvizit" class="input-item-label">Реквизиты</label>
                     <div class="form-group"><input type="text" id="requisite" name="requisite" value="" maxlength="30" required class="form-control"></div>
                     <label for="summa" class="input-item-label">Сумма</label>
                     <div class="form-group"><input type="number" id="summa" min="150" max="100000" name="summa" value="" required class="form-control"></div>
                     <span class="input-note">* Минимальная сумма вывода без учета комиссии: <span id="minSum">150</span> ₽</span>
                     <br>
                     <div class="d-sm-flex justify-content-between align-items-center">
                        <button id="withB" class="btngay btngay-primary" type="submit" style="">Вывести</button>
                     </div>
                  </div>
               </form>
               </div>
               </div>
            </div>
         </div>
      </div>
      <script>
         document.addEventListener("DOMContentLoaded", function () {
           var scrollbar = document.body.clientWidth - window.innerWidth + 'px';
           console.log(scrollbar);
           document.querySelector('[href="#openModal"]').addEventListener('click', function () {
             document.body.style.overflow = 'hidden';
             document.querySelector('#openModal').style.marginLeft = scrollbar;
           });
           document.querySelector('[href="#close"]').addEventListener('click', function () {
             document.body.style.overflow = 'visible';
             document.querySelector('#openModal').style.marginLeft = '0px';
           });
         });
      </script>
      <main class="site-content">
         <div class="page-header">
            <div class="container">
               <div class="page-header__heading">
                  <div class="page-header__heading__title">
                     <h1 class="display-8">
                        Платежи 
                     </h1>
                  </div>
               </div>
               <nav class="nav dashboard-nav-pills">
                  <ul class="nav nav-pills nav-pills--dashboard">
                     <li class="nav-item active"><a href="/dashboard/payments" class="nav-link active"><i class="far fa-bell"></i> Обзор
                        </a>
                     </li>
                     <!--                      <li class="nav-item active"><a href="https://www.gmodstore.com/dashboard/wallet/payouts" class="nav-link active"><i class="fal fa-user-circle fa-fw menu-icon"></i> Payouts
                        </a>
                        </li> -->
                     <!--                      <li class="nav-item active"><a href="https://www.gmodstore.com/dashboard/wallet/payout-accounts" class="nav-link active"><i class="fal fa-user-circle fa-fw menu-icon"></i> Настройки
                        </a>
                        </li> -->
<!--                      <li class="nav-item active"><a href="/dashboard/withdraw" class="nav-link active"><i class="fal fa-hand-holding-usd fa-fw menu-icon"></i> Вывод
                        </a>
                     </li> -->
                  </ul>
               </nav>
            </div>
         </div>
         <div class="container mt-3  site-content--margin ">
            <div class="alert alert-danger" style="display: none;"></div>
            <div class="row">
               <div class="col-md-9">
                  <div class="card border-0">
                     <div class="card-header card-header--strong">
                        Недавняя активность
                     </div>
                     <div class="table-responsive">
                        <table class="table">
                           <thead>
                              <tr>
                                 <th style="width: 6px; padding: 0px;"></th>
                                 <th style="width: 30%;">Номер</th>
                                 <th style="width: 20%;">Система</th>
                                 <th style="width: 25%;">Реквизиты</th>
                                 <th style="width: 35%;">Кол-во</th>
                                 <th class="text-right" style="width: 20%;">Статус</th>
                              </tr>
                           </thead>
                           <tbody>
                              <% payments.forEach(pay => {%>
                              <tr>
                                 <!-- <td colspan="5" class="text-muted text-center">У вас нету выплат :С</td> -->
                                    <td></td>
                                    <td><a class="navi-link">#<%=pay.id%></a></td>
                                    <td><%=pay.type%></td>
                                    <td><%=pay.rek%></td>
                                    <td><%=pay.rub%> ₽</td>

                                    <% if (pay.status == 'wait') { %>
                                    <td><span class="badgegay badgegay-info m-0">Ожидание</span></td>
                                    <% } else if (pay.status == 'accept') { %>
                                    <td><span class="badgegay badgegay-success m-0">Одобрено</span></td>
                                    <% } else { %>
                                    <td><span class="badgegay badgegay-danger m-0">Отклонено</span></td>
                                    <% } %>
                                 
                              </tr>
                              <% }) %>
                           </tbody>
                        </table>
                     </div>
                     <!-- <div class="card-footer text-muted"><a href="https://www.gmodstore.com/dashboard/wallet/activity" class="btn btn-secondary ml-auto">View all activity</a></div> -->
                  </div>
               </div>
               <div class="col-md-3">
                  <div class="card border-0">
                     <div class="card-header border-bottom-0 card-header--strong">
                        Карточка баланса
                     </div>
                     <table class="table">
                        <tbody>
                           <tr class="font-weight-bold">
                              <td>Доступно</td>
                              <td><%=profile.rub%> ₽</td>
                           </tr>
                        </tbody>
                     </table>
                     <!-- <button class="button" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">Заказать выплату</button> -->
                     <!-- <a href="#openModal" class="btn btn-lg btn btn-success">Заказать выплату</a> -->
                     <a href="#openModal" class="btn btn-lg">Заказать выплату</a>
                  </div>
               </div>
            </div>
         </div>
         </div>
      </main>
   </body>
</html>